.Sidebar {
  border-right: 1px solid #C7D0DA;
  height: 100%;
  flex: 0 0 auto;
}

.NavList {
  list-style: none;
  padding: 0;
  margin: 16px 0;
}

.Link {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #07244A;
  padding: 16px 40px;
  cursor: pointer;
}

.LinkActive {
  composes: Link;
  color: #2776EF;
}
